body {
    background-color: rgb(218, 224, 255);
}

.tablero {
    background-color: rgb(0, 244, 53);
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    aspect-ratio: 1;
    border: 0.4em solid rgb(9, 183, 47);

}

.casilla {
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-size: cover;
}


.mina {
    background-image: url("./images/mina.png");
    background-color: transparent;
}

.par {
    background-color: rgb(245, 216, 181);
}

.impar {
    background-color: bisque;
}

.par.oculta {
    background-color: rgb(7, 200, 62);
}

.impar.oculta {
    background-color: rgb(0, 244, 53)
}

.oculta {
    background-image: none;
    color: transparent;
}

.marcada {
    background-image: url("./images/bandera.png");
    background-color: transparent;
}


p {
    font-family: acme;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.title {
    margin-left: 15px;
    font-family: "Press start 2p";
    font-size: 35px;
    color: black;
}

.myNavbar {
    background-color: #3700ff;
    padding: 9px;
}

option,
.nivel {
    font-family: acme;
    font-size: x-large;
    background-color: rgb(184, 185, 234);
}

.icon {
    width: 50px;
    margin-right: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
}

.statsText {
    width: 60px;
    padding-top: 0px;
}

.statsText p {
    margin-bottom: 19px;
}





.navbar-brand {
    margin: 0;
}

.modal-content {
    background-color: rgb(59, 192, 54);

}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
}

.modal-header {
    background-color: rgb(1, 159, 33);
}

.botonJugar {
    font-family: acme;
    font-size: x-large;
}




.modalFlex {
    display: flex;
    flex-direction: column;
}

.result {

    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.resultInfo {
    display: flex;
    justify-content: center;
}

.resultStats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resultStats>div {
    margin: 15px;
}

.configurables {
    display: flex;
    flex-direction: column;
}

input {
    width: 120px;
    background-color: rgb(184, 185, 234);
    border-radius: 5% / 12%;
    font-family: acme;
    border: 1px solid rgb(234, 234, 234);
}

.labels {
    display: flex;
    justify-content: left;
}

.mostrables{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options{
    margin-top: 15px;
}



.prueba{
    background-color: wheat;
}


.botonConfig{
    margin-right: 0px;
    margin-left: 20px;
}


.resultText{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.footerIcon{
    width: 25px;
}

img.footerIcon{
    margin-right: 15px;
}

.granContainer{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.flexMain{
    flex: 1;
}

.flexFooter{
    padding-top: 50px;
}


@media (max-width: 575px) {
    .title {
        font-size: 30px;
    }

    .tablero {
        border: 0.3em solid rgb(9, 183, 47);
    }

    .configurables {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .selects {
        padding-left: 10px;
        width: inherit;
    }

    .resultText{
        font-size: 25px;
    }
}





@media (max-width: 380px) {
    .title {
        font-size: 25px;
    }

    .tablero {
        border: 0.2em solid rgb(9, 183, 47);
    }

}

