.title{
    height: 200px;
    background-color: purple;
}

.game{
    display: flex;
    margin-top: 10px;
    padding: 2em;
    height: auto;
    background-color: purple;
    align-content: center;
    justify-content: center;
}


.tablero{
    background-color: transparent;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 2px;
}

.casilla{
    background-color: green;
    border-radius: 10%;
    text-align: center;
    font-size: 40px;
}

.mina{
    background-image: url("./images/mina.png");
    background-size: cover;
    background-color: transparent;
}

.par{
    background-color: rgb(16, 195, 3);
}

.impar{
    background-color: lime
}

.oculta{
    background-image: none;
    user-select: none;
    color: transparent;
}

.visible{
    background-color: bisque;
}

.marcada{    
    background-image: url("./images/bandera.png");
    background-size: cover;
    background-color: transparent;
}